@use 'variables.scss';
@use 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Jost-Medium';
  color: #000;
}

body { 
  height: 100vh;
  background-color: #FFF;
}

button {
  border: none;
  background: transparent;
  width: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

li { list-style: none }

input[disabled] { background-color: #FFF }
input[readonly]:focus {
  outline: none;
  caret-color: transparent
}


.page-header {
  text-align: center;
  font-size: 18px;
}

.base-container { padding: 18px 24px 0 }