@use 'variables.scss';
@use 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Jost-Medium';
  color: #000;
  user-select: none;
}

body { 
  height: 100vh;
  background-color: #FFF;
}

button {
  width: 100%;
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
}

h1, h2, h3 { font-weight: 400 }

li { list-style: none }

input[disabled] { background-color: #FFF }
input[readonly]:focus {
  outline: none;
  caret-color: transparent
}


.page-header {
  text-align: center;
  font-size: 18px;
}

.base-container { padding: 18px 24px 0 }

.icon-transition { transition: stroke .3s }