@use 'variables.scss';
@use 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Jost-Medium';
  color: #000;
}

body { 
  height: 100vh;
  background-color: #FFF;
}

h1, h2, h3 {
  font-weight: 400;
}

.page-header {
  text-align: center;
  font-size: 18px;
}

.base-container { padding: 18px 24px 0 }